<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="wclassth=device-wclassth, initial-scale=1.0">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="icon" type="image/x-icon" href="../static/images/logo.svg">
    <script src="https://kit.fontawesome.com/fd853e6140.js" crossorigin="anonymous"></script>

    <title>Dashboard</title>
</head>

<body>
    <div class="container">
        <div class="sidebar">
            <div class="sidebar__content">
                <div class="logo">
                    <div class="logo__image">
                        <img src="../static/images/logo.svg" alt="Aeon">
                    </div>
                    <div class="logo__text">
                        Aeon
                    </div>
                </div>

                <div class="nav-menu">
                    <nav>
                        <a class="nav-menu__item" href="#">
                            <div class="nav-menu__image">
                                <i class="fa-solid fa-chart-simple icon"></i>
                            </div>
                            <div class="nav-menu__text">
                                Overview
                            </div>
                            <div class="nav-menu__thumb"></div>
                        </a>
                        <a class="nav-menu__item" href="#">
                            <div class="nav-menu__image">
                                <i class="fa-solid fa-bag-shopping icon"></i>
                            </div>
                            <div class="nav-menu__text">
                                Product
                            </div>
                            <div class="nav-menu__expand">
                                <i class="fa-solid fa-chevron-down icon"></i>
                            </div>
                            <div class="nav-menu__thumb"></div>
                        </a>
                        <a class="nav-menu__item" href="#">
                            <div class="nav-menu__image">
                                <i class="fa-solid fa-user icon"></i>
                            </div>
                            <div class="nav-menu__text">
                                Orders
                            </div>
                            <div class="nav-menu__expand">
                                <i class="fa-solid fa-chevron-down icon"></i>
                            </div>
                            <div class="nav-menu__thumb"></div>
                        </a>
                        <a class="nav-menu__item" href="#">
                            <div class="nav-menu__image">
                                <i class="fa-solid fa-receipt icon"></i>
                            </div>
                            <div class="nav-menu__text">
                                Checkout
                            </div>
                            <div id="checkout-number">
                                {% if user.checkouts > 0 %}
                                <i class="fa-solid fa-{{ user.checkouts if user.checkouts < 10 else 'bell'}} icon"></i>
                                {% endif %}
                            </div>
                            <div class="nav-menu__thumb"></div>
                        </a>
                        <a class="nav-menu__item" href="#">
                            <div class="nav-menu__image">
                                <i class="fa-solid fa-gear icon"></i>
                            </div>
                            <div class="nav-menu__text">
                                Setting
                            </div>
                            <div class="nav-menu__thumb"></div>
                        </a>
                    </nav>
                </div>

                <div class="bottom-menu">
                    <nav>
                        <a class="bottom-menu__item" href="#">
                            <div class="bottom-menu__image">
                                <i class="fa-solid fa-circle-exclamation icon"></i>
                            </div>
                            <div class="bottom-menu__text">
                                Help Centre 
                            </div>
                            <div class="bottom-menu__thumb"></div>
                        </a>
                        <a class="bottom-menu__item" href="#">
                            <div class="bottom-menu__image">
                                <i class="fa-regular fa-comment-dots icon"></i>
                            </div>
                            <div class="bottom-menu__text">
                                Contact us
                            </div>
                            <div class="bottom-menu__thumb"></div>
                        </a>
                        <a class="bottom-menu__item" id="logout" href="#">
                            <div class="bottom-menu__image">
                                <i class="fa-solid fa-arrow-right-from-bracket icon"></i>
                            </div>
                            <div class="bottom-menu__text">
                                Log Out
                            </div>
                        </a>
                    </nav>
                </div>
            </div>
        </div><!--
        --><div class="dashboard">
            <div class="dashboard__content">
                <div class="header">
                    <div class="header__text">
                        <div class="header__title">
                            Welcome Back, {{ user.first_name }}
                        </div>
                        <div class="header__subtitle">
                            Here is the information about all your orders
                        </div>
                    </div>
                    <div class="header__menu">
                        <div class="header__menu__item">
                            <i class="fa-solid fa-magnifying-glass icon"></i>
                        </div>
                        <div class="header__menu__item">
                            <i class="fa-regular fa-bell icon"></i>
                        </div>
                        <a class="header__menu__item" id="user-info" href="#">
                            <img src="../static/images/{{ user.avatar }}">
                            <div class="user-name">{{ user.first_name }} {{ user.last_name }}</div>
                            <div class="user-info__expand">
                                <i class="fa-solid fa-chevron-down icon"></i>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="cards">
                    {% for item in dashboard_data %}
                    {% if loop.index0 == 0 %}
                    <div class="cards__item first__cards__item">
                    {% else %}
                    <div class="cards__item">
                    {% endif %}
                        <div class="cards__item__number">
                            {{ item.number }}
                            <button><i class="fa-solid fa-users icon"></i></button>
                        </div>
                        <div class="cards__item__text">
                            {{ item.title }}
                        </div>
                        <div class="cards__item__subtext">
                            <i class="fa-solid fa-arrow-{{ 'up' if item.percentage[0] == '+' else 'down' }} icon"></i>
                            {{ item.diff }} &nbsp;&nbsp;&nbsp; {{ item.percentage }} this week
                        </div>
                    </div>
                    {% endfor %}
                </div>

                <div class="charts">
                    <div class="chart" id="orders-chart">
                        <div class="chart__header">
                            <div class="chart__title">
                                Orders Analytics
                            </div>
                            <div class="chart__legend">
                                <div class="chart__legend__item offline">
                                    <i class="fa-solid fa-circle icon"></i>
                                    Offline orders
                                </div>
                                <div class="chart__legend__item online">
                                    <i class="fa-solid fa-circle icon"></i>
                                    Online orders
                                </div>
                                <div class="chart__legend__item date-trunc">
                                    <select>
                                        <option value="mon">Monthly</option>
                                        <option value="week">Weekly</option>
                                        <option value="daily">Daily</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="chart__content">
                            <img src="../static/images/orders-chart.svg">
                        </div>
                    </div>
                    <div class="chart" id="earnings-chart">
                        <div class="chart__header">
                            <div class="chart__title">Earnings</div>
                            <div class="chart__button" onclick="location.href='#';">
                                <i class="fa-solid fa-ellipsis icon"></i>
                            </div>
                        </div>
                        <div class="chart__content">
                            <img src="../static/images/earnings-chart.svg">
                        </div>
                        <div class="chart__legend">
                            <div class="chart__legend__item offline">
                                <i class="fa-solid fa-circle icon"></i>
                                Offline
                            </div>
                            <div class="chart__legend__item online">
                                <i class="fa-solid fa-circle icon"></i>
                                Online
                            </div>
                            <div class="chart__legend__item" id="trade">
                                <i class="fa-solid fa-circle icon"></i>
                                Trade
                            </div>
                        </div>
                    </div>
                </div>

                <div class="table">
                    <div class="table__title">
                        <div class="table__title__text">
                            Order List
                        </div>
                        <div class="table__title__option date-trunc">
                            <select>
                                <option value="mon">Monthly</option>
                                <option value="week">Weekly</option>
                                <option value="daily">Daily</option>
                            </select>
                        </div>
                    </div>
                    <div class="table__content">
                        <div class="table__header">
                            <div class="table__header__item short">
                                No
                            </div>
                            <div class="table__header__item with-sort middle">
                                ID
                                <button><i class="fa-solid fa-arrow-up-long icon"></i></button>
                                <button><i class="fa-solid fa-arrow-down-long icon"></i></button>
                            </div>
                            <div class="table__header__item">
                                Date
                            </div>
                            <div class="table__header__item with-sort long">
                                Customer Name
                                <button><i class="fa-solid fa-arrow-up-long icon"></i></button>
                                <button><i class="fa-solid fa-arrow-down-long icon"></i></button>
                            </div>
                            <div class="table__header__item long">
                                Location
                            </div>
                            <div class="table__header__item with-sort">
                                Amount
                                <button><i class="fa-solid fa-arrow-up-long icon"></i></button>
                                <button><i class="fa-solid fa-arrow-down-long icon"></i></button>
                            </div>
                            <div class="table__header__item with-sort">
                                Status Order
                                <button><i class="fa-solid fa-arrow-up-long icon"></i></button>
                                <button><i class="fa-solid fa-arrow-down-long icon"></i></button>
                            </div>
                            <div class="table__header__item middle">
                                Action
                            </div>
                        </div>
                        <div class="table__data">
                            {% for order in orders %}
                            <div class="table__row">
                                <div class="table__row__item short">
                                    {{ loop.index }}
                                </div>
                                <div class="table__row__item middle">
                                    {{ order.id }}
                                </div>
                                <div class="table__row__item">
                                    {{ order.date }}
                                </div>
                                <div class="table__row__item long">
                                    {{ order.customer }}
                                </div>
                                <div class="table__row__item long">
                                    {{ order.location }}
                                </div>
                                <div class="table__row__item">
                                    {{ order.amount }}
                                </div>
                                <div class="table__row__item">
                                    <span class="order-status {{ order.status }}">
                                        <i class="fa-solid fa-circle icon"></i>
                                        {% if order.status == 'new' %}
                                        New Order
                                        {% elif order.status == 'delivery' %}
                                        On Delivery
                                        {% else %}
                                        Unknown status
                                        {% endif %}
                                    </span>
                                </div>
                                <div class="table__row__item middle">
                                    <div class="action__button" onclick="location.href='#';">
                                        <i class="fa-solid fa-ellipsis icon"></i>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>